.parent {
  border: 5xp solid #000;
  background: khaki;
  height: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}

.parent div {
  color: #fff;
  text-align: center;
  font-size: 30px;
  border: 1px solid #000;
}
.item1 {
  background: crimson;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.item2 {
  background: yellowgreen;
  grid-row: 1 / span 2;
}
.item5 {
  background: violet;
  grid-column: 1 / span 3;
}
