@import url(./reset.css);

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
#container {
  margin: 50px auto;
  padding: 10px 20px;
  width: 600px;
}
#container h1 {
  text-transform: uppercase;
}
#bookInfo {
  margin-top: 40px;
}
#bookInfo li {
  font-size: 1rem;
  line-height: 3;
}
#bookInfo label {
  display: inline-block;
  width: 50px;
}
#bookInfo input[type="text"] {
  width: 450px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
}
#bookInfo input[type="text"]:focus {
  outline: none;
}

.btn {
  width: 150px;
  margin: 20px 55px;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  background: #d0d0d0;
}
#booklist {
  width: 500px;
  margin-top: 80px;
}
#booklist li {
  position: relative;
  font-size: 1rem;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#booklist li span {
  position: absolute;
  right: 10px;
  color: crimson;
}
